
@model IEnumerable<News>

@{
    ViewData["Title"] = "NewsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>NewsList</h2>
<br>
<br>
@foreach (News news in Model)
{
    <h3>@news.Article</h3>
    <br>

    @Html.Raw(System.Web.HttpUtility.HtmlDecode(@news.Body))
    <br>

    @if (news.Source != null)
    {<i> from: </i> <a href="@news.Source"></a>}
    <br>

    @news.DatePosted

    <a href="/News/EditNews/@news.ID">     Edit</a>
    <a href="/News/DeleteNews/@news.ID">     Delete</a>     


    <hr>

    <hr>

    <br>
}
